@tailwind base;
@tailwind components;
@tailwind utilities;

/* services */
.swiper-pagination-bullet {
    background-color: #fff !important;
}
/* profile */
.gKcDzI{
    margin-top: -50px;
}
.jaQaOm, .jHGHrJ{
    color: white !important;
}

.hpQge{
    color: #4db6ac !important;
}